.barber-section {
  /* padding: 20px; */
  max-height: 550px;
  overflow-y: auto;
  padding-right: 20px;
}

.barber-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  /* Desktop: 3 cards in a row */
  .barber-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet: 2 cards in a row */
  .barber-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Barber section for mobile view */
@media (max-width: 767px) {
  .barber-section {
    padding: 0px;
  }
  /* Display 2 cards in a row on mobile with a gap */
  .barber-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 5px; /* Adds space between the cards */
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Reduced card dimensions for mobile */
  .barber-card {
    height: 150px; /* Reduced height */
    max-width: 170px;
    margin: 0 auto;
  }

  .barber-image image {
    width: 20px; /* Reduced image size */
    height: 20px; /* Reduced image size */
  }

  .barber-name {
    font-size: 12px; /* Smaller font size for the name */
  }

  .barber-role {
    font-size: 12px; /* Smaller font size for the role */
  }
}

.barber-card {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 178px;
  width: 199px;
  margin: 0 auto;
}

.barber-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f9f9f9;
  overflow: hidden;
  display: flex;
  align-items: center; /* Centers image content vertically */
  justify-content: center; /* Centers image content horizontally */
}
.barber-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #757676;
}

.barber-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 10px 0 5px;
}

.barber-role {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #757676;
  margin-bottom: 0px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.barber-card.selected {
  border: 2px solid #be9342; /* Highlighted border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for emphasis */
}
